<h1>Editing cliente</h1>

<% form_for(@cliente) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :cif %><br />
    <%= f.text_field :cif %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @cliente %> |
<%= link_to 'Back', clientes_path %>