<h1>Editing albaran</h1>

<% form_for(@albaran) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :codigo %><br />
    <%= f.text_field :codigo %>
  </p>
  <p>
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @albaran %> |
<%= link_to 'Back', albarans_path %>