<fieldset class="filtrado" id="filtro_editorial">
  <%= inicio_formulario( { :action => 'filtrado' }, false ) %>
    <div class="linea">
      <%= selector 'Criterio de Filtrado', 'filtro', 'tipo', @campos_filtro.map {|u| [u[0],u[1]]} %>
      <%= observe_field( "filtro_tipo" , :function => 'if (document.getElementById("filtro_tipo").selectedIndex == 3) { Element.hide("filtro_condicion"); Element.hide("filtro_valor"); } else if (document.getElementById("filtro_tipo").selectedIndex == 2 ){ Element.show("filtro_condicion"); Element.show("filtro_valor");} else { Element.hide("filtro_condicion");Element.show("filtro_valor");}' ) %>
      <div id="filtro_condicion" style="display: none;">
        <%= selector '', 'filtro', 'condicion', [["igual a","="], ["mayor que",">"], ["menor que","<"]] %>
      </div>
      <div id="filtro_valor">
        <%= texto '', 'filtro', 'valor' %>
      </div>
      <div class='elemento_derecha' id='boton_filtrado'><br/>
        <%= submit_tag( "Filtrar", :class => "boton", :onclick => "this.disabled=true") %>
      </div>
    </div>
  </form>
  <% if session[("editorial_filtrado_valor").to_sym] && session[("editorial_filtrado_valor").to_sym] != '' %>
    <div class='linea texto_filtrado' id="texto_filtrado">
      Filtrado por <%= session[("editorial_filtrado_tipo").to_sym].capitalize %>
      <%= session[("editorial_filtrado_condicion").to_sym] ? session[("editorial_filtrado_condicion").to_sym] : " >> " %>
      "<%= session[("editorial_filtrado_valor").to_sym] %>"
    </div>
  <% end %>
</fieldset>
