<!--- Listado de editoriales --->

<%= render :partial => "filtro" %>

<div class="caja_completa">
<%= cabecera_listado "editoriales", { :title => "Nuevo", :url => { :action => :editar } } %>
<% for objeto in @editoriales %>
  <% id = "editorial_" + objeto.id.to_s %>
  <div id="<%= id %>" class="listadofila">
    <%= fila_listado objeto %>
    <div class="listado_derecha">
      <%= modal icono("Write",{:title => "Editar"}), { :action => 'editar', :id => objeto.id }, "Editar Editorial" %>
      <%= borrado icono('Trash',{:title => "Borrar"}), {:action => :borrar, :id => objeto.id }, 'Eliminar Editorial', "Editorial: " + objeto.nombre, :ajax => false %>
    </div>
  <div class='linea'></div>
  <div id="<%= id %>_spinner" class="spinner" style="display:none" ></div>
  <div id="<%= id %>_sub" class="linea"></div>
  </div>
<% end %>
<%= final_listado @editoriales %>
</div>

