<% nombre = params[:controller] || 'general' %>
<fieldset class="filtrado" id="filtro_<%= nombre %>">
  <%= inicio_formulario( { action: 'filtrado' }, false ) %>
    <div class="linea">
      <%= selector 'Criterio de Filtrado', 'filtro', 'tipo', @campos_filtro.map {|u| [u[0],u[1]]} %>
      <%= observe_field( "filtro_tipo" , :function => 'if (document.getElementById("filtro_tipo").selectedIndex == 3) { Element.hide("filtro_condicion"); Element.hide("filtro_valor"); } else if (document.getElementById("filtro_tipo").selectedIndex == 2 ){ Element.show("filtro_condicion"); Element.show("filtro_valor");} else { Element.hide("filtro_condicion");Element.show("filtro_valor");}' ) %>
      <div id="filtro_condicion" style="display: none;">
        <%= selector '', 'filtro', 'condicion', [["igual a","="], ["mayor que",">"], ["menor que","<"]] %>
      </div>
      <div id="filtro_valor">
        <%= texto '', 'filtro', 'valor' %>
      </div>
      <div class='elemento_derecha' id='boton_filtrado'><br/>
        <%= submit_tag 'Filtrar', class: 'boton', 'data-disable-with' => 'Filtrando...' %>
      </div>
    </div>
  </form>
  <% if session[(nombre + '_filtrado_valor').to_sym] && session[(nombre + "_filtrado_valor").to_sym] != '' %>
    <div class='linea texto_filtrado' id="texto_filtrado">
      Filtrado por <%= session[(nombre + "_filtrado_tipo").to_sym].capitalize %>
      <%= session[(nombre + "_filtrado_condicion").to_sym] ? session[(nombre + "_filtrado_condicion").to_sym] : " >> " %>
      "<%= session[(nombre + "_filtrado_valor").to_sym] %>"
    </div>
  <% end %>
</fieldset>
