
<%= inicio_formulario( { :action => 'modificar', :id => @cliente }, false ) %>
  <div class="linea">
    <%= texto 'CIF', 'cliente', 'cif' %>
    <%= texto 'Nombre', 'cliente', 'nombre' %>
  </div>
  <div class="linea">
    <%= texto 'Direccion', 'cliente', 'direccion' %>
    <%= texto 'Código Postal', 'cliente', 'cp' %>
  </div>
  <div class="linea">
    <%= texto 'eMail', 'cliente', 'email' %>
  </div>
  <div class="linea">
    <%= texto '% Descuento', 'cliente', 'descuento' %>
    <%# texto 'Credito Disponible', 'cliente', 'credito' %>
  </div>
<%= final_formulario%>

