
<%= inicio_formulario( { :action => 'modificar', :id => @proveedor }, false ) %>
  <div class="linea">
    <%= texto 'CIF', 'proveedor', 'cif' %>
    <%= texto 'Nombre', 'proveedor', 'nombre' %>
  </div>
  <div class="linea">
    <%= texto 'Direccion', 'proveedor', 'direccion' %>
    <%= texto 'Telefono', 'proveedor', 'telefono' %>
  </div>
  <div class="linea">
    <%= texto 'eMail', 'proveedor', 'email' %>
    <%= texto 'Contacto', 'proveedor', 'contacto' %>
  </div>
  <div class="linea">
    <%= texto '% Descuento', 'proveedor', 'descuento' %>
  </div>
<%= final_formulario%>

