
<!--- Sublistado de productos de almacenes de un producto --->
<%= cabecera_sublistado "Ubicación de los Productos", "almacenes_de_producto_editorial", params[:update] %>
<% for objeto in @pexa %>
  <div id="<%= params[:update] %>_linea_<%= objeto.id %>" class="fila" >
    <%= fila_sublistado objeto %>
  </div>
<% end %>
<%= final_sublistado %>
<br/>
