<!--- Sublistado de productos de un almacen de distribuidora --->
<%= cabecera_sublistado "Productos Distribuidora", "inventario_almacen", params[:update] %>
<% i = 0 %>
<% for objeto in @pexa %>
  <div id="<%= params[:update] %>_linea_<%= (i += 1).to_s %>" class="fila" >
    <%= fila_sublistado objeto %>
    <div class="listado_derecha">
      <%# modal icono("Search",{:title => "Ver Albaran"}), { :controller => 'albaran_lineas', :action => 'lineas', :albaran_id => objeto.id, :update => "MB_content" }, compra ? "Albaran de Compra" : "Albaran de Venta" %>
    </div>
  </div>
<% end %>
<%= final_sublistado %>
<br/>
