
<div id="propiedades">
  <br/><br/>
  <% if @producto.id.nil? %>
    El libro no existe.<br> 
    <%= modal( "Incluir en la BBDD.", { :controller => 'productos', :action => 'editar', :codigo => params[:codigo], :update => 'propiedades_producto' }, "Nuevo Libro" ) %>
    <br/>
  <% end %>
  <%= hidden_field('producto','id') %>
  <%= hidden_field('precios_relacionados','') %>
  <br>
  <% if @producto.id %>
    <script type="text/javascript">
      document.forms["formulario_codigo"].submit();
    </script> 
  <% end %>
  <%= "Nombre: " + truncate(@producto.nombre, :length => 20) if @producto.nombre %><br/>
  <%= "Autor: " + @producto.autores if @producto.autores %><br/>
  <%= "Editor: " + @producto.editor if @producto.editor %><br/>
  <%# "Año: " + @producto.anno if @producto.anno %>
  <%# "Descripción: " + @producto.descripcion if @producto.descripcion %>
  <%# "Precio: " + @producto.precio.to_s if @producto.nombre %> 
</div>
