<!-- Formulario de edicion de linea de albaran -->
<%= inicio_formulario( { :action => 'modificar', :id => params[:id], :albaran_id => params[:albaran_id], :update => params[:update] }, false ) %>
  <div class="linea">
    Nombre/ISBN: <%= @albaran_linea.producto.nombre %>
  </div>
  <% if params[:seccion] == "productos" %>
    <div class="linea"><br/></div>
    <div class="linea">
      <%= texto "Precio Compra (Sin IVA)", 'albaran_linea', 'precio_compra' %>
    </div>
  <% else %>
    <div class="linea">
      Precio Venta: <%= @albaran_linea.producto.precio %>
    </div>
    <div class="linea"><br/></div>
  <% end %>
  <div class="linea">
    <%= texto "Cantidad", 'albaran_linea', 'cantidad' %>
    <%= texto "% Descuento", 'albaran_linea', 'descuento' %>
  </div>
  <div class="linea"><br/></div>
<%= final_formulario %>
