<!--- Libro Diario --->
<%= render :partial => "comunes/filtros" %>

<% if @facturas %>
<div class="caja_completa" id="listado_facturas">
<%= cabecera_listado "libro_diario" %>
<% for objeto in @facturas %>
  <div id="factura_<% objeto.id.to_s %>" class="listadofila">
    <%= fila_listado objeto %>
    <div class="listado_derecha" id="factura_<%= objeto.id.to_s %>_aviso_pago" <%= 'style="display:none;"' if objeto.pagado %> >
      <%= icono('Exclamation', {:title => "La factura no está completamente pagada!", :style => ( objeto.pagado ? 'display: none;' : '') }) %>
    </div>
  </div>
  <div id="factura_sub_<%= objeto.id.to_s %>_pago"></div>
  <div id="factura_sub_<%= objeto.id.to_s %>_albaran"></div>
<% end %>
<%= final_listado @facturas %>
</div>
<% end %>

