<!--- Listado de autores --->

<%= render :partial => "comunes/filtro_listado" %>

<div class="caja_completa">
<%= cabecera_listado "autores", { title: "Nuevo", url: { action: :editar } } %>
<% for objeto in @autores %>
  <% id = "autor_" + objeto.id.to_s %>
  <div id="<%= id %>" class="listadofila">
    <%= fila_listado objeto %>
    <div class="listado_derecha">
      <%= link_to_remote icono('Cart2',{title: "Ver Productos"}), url: { action: :listado_productos, id: objeto.id, update: id + "_sub" }, loading: "Element.show('#{id}_spinner')", :complete => "Element.hide('#{id}_spinner')" %>
      <%= modal icono("Write",{:title => "Editar"}), { action: :editar, id: objeto.id, page: params[:page] }, 'Editar Autor' %>
      <%= borrado icono('Trash',{:title => "Borrar"}), { action: :borrar, id: objeto.id, page: params[:page] }, 'Eliminar Autor', 'Autor: ' + objeto.nombre, ajax: false %>
    </div>
  <div class='linea'></div>
  <div id="<%= id %>_spinner" class="spinner" style="display:none" ></div>
  <div id="<%= id %>_sub" class="linea"></div>
  </div>
<% end %>
<%= final_listado @autores %>
</div>

